  <div>
    <%= f.label :title, "", class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.text_field :title, :placeholder => 'Job Title', class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>

  <div>
    <%= f.label :description, "", class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.text_area :description, :placeholder => 'Job Description', class: "text-area form-control", html: {spellcheck: "false"} %>
    </div>
  </div>

  <div>
    <%= f.label :salary_range, "", class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.text_field :salary_range, :placeholder => 'Salary Range', class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>

  <div>
    <%= f.label :deadline, "", class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.date_field :deadline %>
    </div>
  </div>  

  <div>
    <%= f.label :tags, "", class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.text_field :tags, :placeholder => 'Add tags to this Job', class: "text-field form-control", html: {spellcheck: "false"} %>
    </div>
  </div>  

  <div class="actions">
    <%= f.submit %>
  </div>

