<div class="wrapper">
	<%= render 'companies/sidebar'%>
	<div class="main-panel">
		<%= render 'companies/navigation'%>

		<div class="content">
			<p id="notice"><%= notice %></p>
			<%= @job.title %>
			<%= @job.description %>
			<%= @job.salary_range %>
			<%= @job.deadline %>
			<%= @job.tags %>

			<%= link_to 'Evaluate Submissions', company_job_submissions_path(job_id: @job.id) %>
			<%= link_to 'Edit', edit_company_job_path(id: @job.id) %> |
			<%= link_to 'Back', :back %>			
		</div>
		<%= render 'companies/footer'%>
	</div>	

</div>