<div class="wrapper">
  <%= render 'companies/sidebar'%>
  <div class="main-panel">
    <%= render 'companies/navigation'%>

    <div class="content">
      <h1>Listing submissions</h1>

          <% @submissions.each do |submission| %>
              <%= submission.user %>
              <%= link_to 'Show', company_job_submission_path(id: submission.id) %>
              <%= link_to 'Edit', edit_company_job_submission_path(id: submission.id) %>
              <%= link_to 'Destroy', company_job_submission_path(id: submission.id), method: :delete, data: { confirm: 'Are you sure?' } %><br>
          <% end %>
      <br>

      <%= link_to 'New Submission', new_company_job_submission_path %>    
    </div>

    <%= render 'companies/footer'%>
  </div>  

</div>

